<br>
<div id="quienes" class="container-fluid">
 	<div class="row">
 		<div class="fondo col-sm-6 bg-dark text-white"> 


		<p>Somos una nueva empresa de aseo industrial y domiciliario creada en febrero de 2015. Estamos presentes en la Provincia de Llanquihue.s, local Ofrecemos soluciones de limpieza a empresas, oficinaes comerciales, casas, departamentos, cabañas, términos de obra etc.  Contamos con un equipo serio y de confianza dispuesto a prestarle un servicio garantizado.</p>
		<p>Le entregamos las siguientes soluciones:

		Maquinarias (vaporizadora, aspiradora polvo/agua industrial, hidrolavadora, lavadora de alfombra, entre otros) e insumos profesionales necesarios para un óptimo resultado y amigables con el medioambiente.</p>

		<p>Usted decide la profundidad del servicio: limpieza simple, superficial o profunda, con o sin limpieza de vidrios, solo cocina o solo baños. Nosotros nos adaptamos a su necesidad.</p>

  	  <p>-Ofrecemos el servicio de aseo después de un evento.<br>
   		-Aseo profundo y sanitización de propiedades en arriendo, pre-venta o 		post-venta y sin muebles.<br>
  		 -Realizamos los servicios de lunes a sábado y urgencias los        domingos.<br></p>
  		</div>
		<div class="col-sm-6" style="background-color:lavenderblush;">.
			<img class="fotito" src="https://serviciossanirent.com/images/ser-limpieza.jpg" width="485" height="517">
		</div>
 	</div>
</div>