<header>
			<div id="logo">
				<img src="https://images.cooltext.com/5372732.png" width="220" height="60">
			</div>
			<div id="icono1" class="redes">
        <a _ngcontent-qhh-c4 class="rrss-link text-center" href="https://www.facebook.com/groups/411003839052335/" target="_blank">
				<img src="https://image.flaticon.com/icons/svg/174/174848.svg" width="42" height="42">
        </a>
			</div>
			<div id="icono2" class="redes">
        <a _ngcontent-qhh-c4 class="rrss-link text-center" href="https://www.instagram.com/cleanisgoodchile/" target="_blank">
				<img src="https://image.flaticon.com/icons/svg/174/174855.svg" width="42" height="42">
        </a>
			</div>
			<div id="icono3" class="redes">
        <a _ngcontent-qhh-c4 class="rrss-link text-center" href="https://twitter.com/HogarImpeque" target="_blank">
				<img src="https://image.flaticon.com/icons/svg/174/174876.svg" width="42" height="42">
        </a>
			</div>
</header>
<nav class="navbar navbar-expand-sm bg-white navbar-dark"> 
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="link">
      <a class="nav-link text-center" [routerLink]="['/']">Inicio</a>
    </li>
    <li class="link">
      <a class="nav-link text-center" [routerLink]="['/quienes']">Quienes somos</a>
    </li>
    <li class="link">
      <a class="nav-link text-center" [routerLink]="['/servicios']">Servicios</a>
    </li>
    <li class="link">
      <a class="nav-link text-center" [routerLink]="['/novedades']">Novedades</a>
    </li>
    <li class="link">
      <a class="nav-link text-center" [routerLink]="['/contacto']">Contactenos</a>
    </li>
  </ul>
</nav>

