<div id="inicio" class="container-fluid">
	<br>
  <h1>Servicios de limpieza a domicilio</h1>
  <p>Somos especialistas en Limpieza profunda. Nos enfocamos en atacar aquellos lugares difíciles de limpiar, logrando una mantención minuciosa de alto estándar. ¡Descubre lo que podemos hacer por tu hogar!</p>
  <div class="letritas row bg-dark">
    <div class="letritas col-sm-4 text-white text-center text-justify">MACG brinda soluciones concretas a requerimientos de limpieza y mantención para domicilios..
	Hemos enfocado todo nuestro esfuerzo y nuestra cultura organizacional a la satisfacción de los clientes y colaboradores, lo que nos ha permitido desarrollar alianzas, aumentar clientes, crecer y cada día ofrecer un servicio de calidad.

	Utilizamos tecnologías amigables con el medio ambiente y productos de aseo biodegradables.</div>
    <div class="col-sm-8" style="background-color:lavenderblush;">
    	<iframe src="https://www.youtube.com/embed/VwM2Nh1yqMA" width="666.4" height="400" frameborder="0" allowfullscreen></iframe>
      <div>


  </div>
  
    </div>
  </div>
</div>

